@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #030111;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
