@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  background: #030111;
  border: none;
  outline: none;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button {
  color: #fff;
  font-family: 'Poiret One', -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
